<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> FodmapApp</mat-card-title>
        </mat-card-header>
        <mat-card-content class="cardContent">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <mat-form-field>
                    <input matInput placeholder="Alimento" width="50vh">
                </mat-form-field>

                <button mat-raised-button color="primary">Consultar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>