<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> FodmapApp</mat-card-title>
        </mat-card-header>
        <mat-card-content class="cardContent">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Number</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            @for (option of filteredOptions | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </form>

                <button mat-raised-button color="primary" (click)="consultar()">Consultar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>