<div class="input-container">
    <div class="input-container">
        <div class="container">
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="generarDieta()">Generar dieta</button>
            </div>

            <div class="input-container" *ngIf="showInput">
                <textarea rows="4" class="input-text">
                {{'\n' + 'Desayuno: ' + '\n' + (dieta?.breakfast?.join('\n') || '') + '\n\n' + 'Comida: ' + '\n' +  (dieta?.lunch?.join('\n') || '') + '\n\n' + 'Cena: ' + '\n' + (dieta?.dinner?.join('\n') || '') }}
                </textarea>
            </div>
            <ul>
                <li *ngFor="let item of dieta?.breakfast">
                    {{ item }}
                    <button mat-icon-button color="warn" (click)="deleteItem(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
            <ul>
                <li *ngFor="let item of dieta?.lunch">
                    {{ item }}
                    <button mat-icon-button color="warn" (click)="deleteItem(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
            <ul>
                <li *ngFor="let item of dieta?.dinner">
                    {{ item }}
                    <button mat-icon-button color="warn" (click)="deleteItem(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>